<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Edytuj informacje o szkoleniu</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <!-- </div>
                <div class="form-group"> -->
            <label for="trainingType">Typ szkolenia:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="trainingType" name="trainingType">
                <option value="" selected disabled>-- Wybierz typ szkolenia --</option>
                <option value="Nauka driftu">Nauka driftu</option>
                <option value="Jazda torowa">Jazda torowa</option>
                <option value="Niebezpieczeństwa drogowe">Niebezpieczeństwa drogowe</option>
            </select>
            <span id="errorTrainingType" class="errors-text"></span>
            <!-- </div>
                <div class="form-group"> -->
            <label for="duration">Czas trwania:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="duration" value="" id="duration" placeholder="1-3 godzin" />
            <span id="errorDuration" class="errors-text"></span>
            <!-- </div>
                <div class="form-group"> -->
            <label for="level">Poziom zaawansowania:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="level" value=1 id="level" placeholder="(początkujący)1-3(zaawansowany) " />
            <!-- <select id="level" name="level">
                <option value="" selected disabled>-- Wybierz poziom zaawansowania --</option>
                <option value=1>1</option>
                Na serwer zostanie wysłana wartość value = 1, więc poziom zaawansowania jest integer
                <option value=2>2</option>
                <option value=3>3</option>
            </select>-->
            <span id="errorLevel" class="errors-text"></span>
            <!-- </div>
                <div class="form-group"> -->
            <label for="price">Cena za godzinę:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="price" value="" id="price" />
            <span id="errorPrice" class="errors-text"></span>
            <!-- </div>
                <div class="form-group"> -->
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Zapisz" class="form-button-submit" />
                <a class="form-button-cancel" href="/trainings">Anuluj</a>
            </div>
        </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>