<%- include('../fragments/header.ejs') %>

    <main>
        <h2>
            <%= __('nav.main-page') %>
        </h2>
        <p>System informatyczny dla ośrodka szkolenia kierowców.<br>
            Oferujemy szkolenia z jazdy samochodem w ekstremalnych warunkach, od przeszkolenia i
            doświadczenia niebezpieczeństw drogowych, które mogą spotkać nas w codziennej jeździe samochodem, po naukę
            driftu z profesjonalnym kierowcą rajdowym. </p>
    </main>

    <%- include('../fragments/footer.ejs') %>